.searchContainer {
    display: flex;
    justify-content: center;
    background-image: url('https://image.tmdb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,032541,01b4e4)/r2NcIZ1FPMlxCty3vRITVTgGNVS.jpg');
    height: 300px;
    padding-top: 100px;
  }
   
  .searchInput {
    width: 80%;
    height: 50px;
    line-height: 46px;
    font-size: 1.1em;
    color: rgba(0,0,0,0.5);
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
  }
  .searchInput:hover {
    outline: none;
  }
   
  .searchButton {
    height: 50px;
    padding: 10px 26px;
    border: none;
    background: rgb(144,238,144);
    border-radius: 30px;
    color: rgba(255,255,255, 1);
    margin-left: -50px;
  }