.recommendations {
    display: flex;
    justify-content: center;
    .recommendations-container {
        &__title {
            font-weight: 600;
            font-size: 2.4em;
            margin-bottom: 20px;
        }
    }
}

@media screen and (min-width: 1280px) {
    .recommendations {
        .recommendations-container {
            width: 1280px;
        }
    }
  }
