.popular-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__control{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        border-radius: 5px;
        .select-active{
            background-color: #90ef90;
            cursor: pointer;
            padding: 3px 10px;
            font-weight: 700;
            border-style: solid;
            border-color: #3eb37d;
        }
        .select-disbled{
            cursor: pointer;
            padding: 3px 10px;
            font-weight: 700;
            background-color: #c4c6d0;
        }
    }
}