.popular-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__control{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        border-radius: 5px;
        .select-active{
            cursor: pointer;
            padding: 3px 10px;
            font-weight: 700;
            border-style: solid;
            background-color: #062c56;
            &__text{
                color: white;
            }
        }
        .select-disbled{
            cursor: pointer;
            padding: 3px 10px;
            font-weight: 700;
            border-style: groove;
            background-color: white;
            &__text{
                color: #062c56;
            }
        }
    }
}